RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=reports
RABBITMQ_ROUTING_KEY_TO_GENERATION=new.generate
RABBITMQ_ROUTING_KEY_GENERATED=generated