
<section class="new-report-section">
    <div class="fields-row">
        <div class="field">
            <label for="organization-adress">Адрес организации</label>
            <input id="organization-adress" type="text" placeholder="Введите ваш ответ...">
        </div>
        <div class="field">
            <label for="email">Почта</label>
            <input id="email" type="text" placeholder="Введите ваш ответ...">
        </div>
        <div class="field">
            <label for="job-title">Должность</label>
            <input id="job-title" type="text" placeholder="Введите ваш ответ...">
        </div>
    </div>

    <div class="fields-row fields-row--two">
        <div class="field">
            <label for="region">Телефон</label>
            <input id="region" type="text" placeholder="+7 (ххх) ххх - хх - хх">
        </div>
        <div class="field">
            <label for="region">ФИО ответственного</label>
            <input id="region" type="text" placeholder="Фамилия И. О.">
        </div>
        <div class="field">
            <label for="year">Дата составления отчета</label>
            <input id="year" type="text" placeholder="  DD.MM.YYYY">
        </div>
    </div>
</section>