<section class="new-report-section">
    <div class="fields-row">
        <div class="field">
            <label for="type-system">Тип дренажа</label>
            <select id="type-system">
                <option value="">горизонтальный</option>
                <option value="">вертикальный</option>
                <option value="">пластовый</option>
                <option value="">кольцевой</option>
                <option value="">поверхностный точечный</option>
                <option value="">поверхностный линейный</option>
                <option value="">глубинный</option>
                <option value="">закрытый</option>
                <option value="">открытый</option>
                <option value="">засыпной</option>
                <option value="">головной</option>
                <option value="">береговой</option>
                <option value="">систематический</option>
                <option value="">комбинированный</option>
            </select>
        </div>
        <div class="field">
            <label for="pipe-diameter">Диаметр труб (мм)</label>
            <input id="pipe-diameter" type="text" placeholder="Введите ваш ответ...">
        </div>
        <div class="field">
            <label for="total-length">Общая протяженность (м)</label>
            <input id="total-length" type="text" placeholder="Введите ваш ответ...">
        </div>
    </div>

    <div class="fields-row fields-row">
        <div class="field">
            <label for="pipe-material">Материал труб</label>
            <input id="pipe-material" type="text" placeholder="Введите ваш ответ...">
        </div>
        <div class="field">
            <label for="burial-depth">Глубина заложения (м)</label>
            <input id="burial-depth" type="text" placeholder="Введите ваш ответ...">
        </div>
        <div class="field">
            <label for="laying-year">Год заложения</label>
            <input id="laying-year" type="text" placeholder="YYYY">
        </div>
    </div>
    <div class="fields-row fields-row">
        <div class="field">
            <label for="wells-count">Количество колодцев (шт)</label>
            <input id="wells-count" type="text" placeholder="Введите ваш ответ...">
        </div>
    </div>
</section>