<section class="section">
    <h2>Динамика наблюдений</h2>
    {% set result_list = ['pH', 'Железо', 'Марганец', 'Нитраты', 'Сульфаты'] %}
    <div class="section__row--small">
        {% for result in result_list %}
            <button type="button" class="list_element">{{ result }}</button>
        {% endfor %}
        <button class="action__button">Добавить дату</button>
    </div>
    <table id="observation_dynamics_table" class="table">
        <thead>
            <th>Дата</th>
            <th>pH</th>
            <th>Железо</th>
            <th>Марганец</th>
            <th>Нитраты</th>
            <th>Сульфаты</th>
        </thead>
        <tbody></tbody>
    </table>
</section>