<header class="topbar">
    <div class="topbar__side topbar__side--left">
        <a class="topbar__icon-link" href="{{ request.url_for('index') }}" title="Домой" aria-label="Домой">
            <img src="{{ request.url_for('static', path='images/home.png') }}" alt="Домой">
        </a>
        <a class="topbar__icon-link" href="{{ request.url_for('documents_page') }}" title="Документы" aria-label="Документы">
            <img src="{{ request.url_for('static', path='images/documents.png') }}" alt="Документы">
        </a>
    </div>

    <div class="topbar__title">Ecological Report</div>

    <div class="topbar__side topbar__side--right">
        <a class="topbar__icon-link" href="{{ request.url_for('settings_page') }}" title="Настройки" aria-label="Настройки">
            <img src="{{ request.url_for('static', path='images/settings.png') }}" alt="Настройки">
        </a>
        <img class="topbar__avatar" src="{{ request.url_for('static', path='images/avatar.jpg') }}" alt="Аватар пользователя">
    </div>
</header>
